[Desktop Entry]
Name=Disconnectshares
Comment=Unmount shares from a remote system
Exec=disconnectshares
Icon=disconnectshares.png
Type=Application
Categories=Application;Network;


